{% load static %}
{% static "" as path %}
<head>
<title>Scammer List</title>
<link rel="stylesheet" href="{{ path }}{{ theme }}" />
</head>

<!-- **************START NAVBAR************** -->
    {% block content %}
        {% include 'scammerlist/navbar.html' %}
    {% endblock %}
<!-- **************STOP NAVBAR************** -->


<title>Search for scammer</title>

<div class="container-fluid">

<div class="row">
  <div class="col-md-7">
    <div class="jumbotron">
    <h1>Scammer List</h1>
    <h4>web app สำหรับค้นหารายชื่อคนโกงผ่านหมวดหมู่การซื้อ-ขายผ่านอินเตอร์เน็ต</h4>
    </div>

  </div>
  <div class="col-md-5">
			<div class="card">
			<h2 class="card-title">Feature</h2>
			<div class="card-block">
			<ul class="list">
				  <li>ค้นหาด้วยชื่อ หรือ อีเมล</li>
				  <li>เพิ่มชื่อคนโกง (กรณีที่ถูกโกงมา)</li>
				  <li>กรณีโดนเพิ่มชื่อ (โดนแกล้ง) สามารถกด report ได้</li>
			</ul>
			</div>
			</div>
	</div>
</div>
</div>
</div>



</div>

