{% extends 'scammerlist/base.html' %}


{% block header %}
List all people in {{ catalog }}
{% endblock %}


{% block table_id %}table_list{% endblock %}
{% block table %}
<thead class="thead-inverse">
<tr>
  <th>NAME</th>
  <th>EMAIL</th>
  <th>DETAIL</th>
</tr>
</thead>
<tbody>
{% for people in catalog.person_set.all %}
    <tr>
      <td><a href="{% url 'person_de' people.id %}">{{ people.name }}</a></td>
      <td>{{ people.email }}</td>
      <td>{{ people.detail }}</td>
    </tr>
{% endfor %}
</tbody>
{% endblock %}



