{% load static %}

<head>
<title>Scammer List</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
</head>

<!-- **************START NAVBAR************** -->
    {% block content %}
        {% include 'scammerlist/navbar.html' %}
    {% endblock %}
<!-- **************STOP NAVBAR************** -->
<div class="container">
    
    <div class="card">
    
    <div class="card-block">
        <a href="{% url 'listname' person.catalog.id %}"><h4 class="card-title">from catalog : {{ person.catalog }}</h4></a>
        <p class="card-text">
          <img src="{{ person.picture_url }}" width="100px" height="100
          px"><br>
          Name : {{ person.name }}<br>
          Email : {{ person.email }}<br>
          MobileNumber : {{ person.mobile_number }}<br>
          Detail : {{ person.detail|linebreaks }}<br><br>
        </p>
    
    
           <h5>กรณีที่บุคลลนี้ไม่ได้โกงการซื้อ-ขาย จริง สามารถกดปุ่ม Report ด้านล่าง</h5><a href="{% url 'person_report' person.id %}"><input type="submit" class="btn btn-danger" id="report_btn" value="Report"></a>
           {% if person.report_set.count == 0 %}
           <br><p>This person has been reported :  {{ person.report_set.count }} timed.</p>
           {% else %}
           <p style="color:red">This person has been reported :  <b>{{ person.report_set.count }}</b> timed.</p>
           {% endif %}
           {% if person.report_set.count > 5 %}
           <br><p>บุคคลนี้อาจจะไม่ได้โกง เนื่องมีการ report ทั้งหมด : {{ person.report_set.count }} ครั้ง</p>
           {% endif %}
		
		<div class="container">
		<div class="row">
		{% for comment in person.report_set.all %}
			<!--**** startcomment -->

<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>unknown user</strong>
</div>
<div class="panel-body">
{{ comment }}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->

		{% endfor %}
		</div><!-- /row -->
		</div><!-- /container -->

      </div>
    </div>
</div>




