{% load static %}

<head>
<title>Scammer List</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
</head>

<!-- **************START NAVBAR************** -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="{% url 'index' %}">Scammer</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'addperson' %}">Add person</a>
    </div>
  </div>
</nav>
<!-- **************STOP NAVBAR************** -->

<div class="container-fluid">
<title>Search for scammer</title>
{# ------------add page------------ #}
<h1>Search for scammer</h1>
{# ----------SEARCH BOX--------------- #}
<div class="alert alert-info" role="alert">
    <strong>Info !</strong> Search for scammer here.
</div>
<form method="get" action="/search">
<div class="container">
      <div class="row">
        <div class="col-sm-6">
          <input type="text" id="searchBox" class="form-control" name="search_name" placeholder="Enter name">
        </div>
        <div class="col-sm-2">
          <input type="submit" class="btn btn-primary" id="sub_btn" value="Search" >
        </div>
      </div>
    </div>

    {# ------ LIST FOR CATALOG ------ #}
    <h1>Select Catalog</h1>
    <ul>
    {% for a in catalog %}
        <li><a href="list/{{a.id}}">{{ a }}</a></li>
    {% endfor %}
    </ul>
</div>

