{% block content %}

<!-- **************START NAVBAR************** -->
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Scammer</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'addperson' %}">Add Scammer</a></li>
      <li><a href="{% url 'show_report' %}">Show reported person</a></li>
      <li><a href="{% url 'About' %}">About</a></li>
    </ul>
  </div>
</nav>
<!-- **************STOP NAVBAR************** -->
{% endblock %}
