{% load static %}

<head>
<title>Scammer List</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
</head>

<!-- **************START NAVBAR************** -->
    {% block content %}
        {% include 'scammerlist/navbar.html' %}
    {% endblock %}
<!-- **************STOP NAVBAR************** -->

<div class="container">
<h1>List all reported people</h1>
{# show all name #}
    <table class="table" id="report_list">
      <thead class="thead-inverse">
        <tr>
          <th>Report time</th>
          <th>NAME & CATALOG</th>
          <th>DETAIL</th>
          <th>REPORT COUNT</th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
            {% if person.report_set.count > 0 %}
            <tr>
                <td>{{ person.last_report_time }}</td>
              <td><a href="{% url 'person_de' person.id %}">{{ person.name }} ({{ person.catalog }})</a></td>
              <td>{{ person.detail }}</td>
              <td>{{ person.report_set.count }}</td>
            </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>


