{% load static %}
{% static "" as path %}
<head>
<title>Scammer List</title>
<link rel="stylesheet" href="{{ path }}{{ theme }}" />
</head>

<!-- **************START NAVBAR************** -->
    {% block content %}
        {% include 'scammerlist/navbar.html' %}
    {% endblock %}
<!-- **************STOP NAVBAR************** -->
<div class="container">
    
    <div class="card">
    
    <div class="card-block">
        <a href="{% url 'person_de' person.id %}"><h4 class="card-title">Report : {{ person }} ( {{ person.catalog }} )</h4></a>
            <p class="card-text">
              Name : {{ person.name }}<br>
              Email : {{ person.email }}<br>
              MobileNumber : {{ person.mobile_number }}<br>
              Detail : {{ person.detail }}<br><br>
            </p>
        <form method="post" action="{% url 'save_reported' person.id %}">
            {% csrf_token %}
            <textarea rows="4" cols="50" type="text" id="report" name="report" required="required"></textarea>
            <br><input type="submit" class="btn btn-danger" id="report_btn" value="Report">
        </form>
    
    
        
      </div>
    </div>
     
</div>




