{% load static %}
{% static "" as path %}
<head>
<title>Scammer List</title>
<link rel="stylesheet" href="{{ path }}{{ theme }}" />
</head>

<!-- **************START NAVBAR************** -->
    {% block content %}
        {% include 'scammerlist/navbar.html' %}
    {% endblock %}
<!-- **************STOP NAVBAR************** -->

<div class="container">
<h3>{{ results_text }}</h3><br>
<ul id="result_ul">
{% for people in results %}
    <li><a href="{% url 'person_de' people.id %}">{{ people.name }} ({{ people.catalog }})</a></li>
{% endfor %}
</ul>

<h3>Result by Email : {{ resultsemail.count }} People</h3><br>
<ul id="result_email">
{% for people in resultsemail %}
    <li><a href="{% url 'person_de' people.id %}">{{ people.name }} ({{ people.catalog }})</a></li>
{% endfor %}
</ul>
</div>


